.nav {
    grid-area: n;
    background-color: antiquewhite;
    padding: 20px;
}
.item {
    color: cadetblue;
    text-decoration: none;
}

.item a.active {
    color: crimson;
    text-decoration: none;
}